##################################
######## Common Settings #########
##################################
# ARM64 overrides for Left 4 Dead 2.

# LinuxGSM install/update is handled manually through SteamCMD on this host.
updateonstart="off"

# Run the Source binary through the ARM wrapper instead of the stock shell launcher.
executabledir="${HOME}/bin"
executable="./srcds-arm.sh"
