##################################
####### Instance Settings ########
##################################
# Extra logging to make the next crash easier to identify.
startparameters="-game left4dead2 -strictportbind -ip ${ip} -port ${port} +clientport ${clientport} +map ${defaultmap} +servercfgfile ${servercfg} -maxplayers ${maxplayers} -dev"
